@import url(//fonts.googleapis.com/css?family=Signika:400);

body {
  font-family: Signika;
  background-color: #5DA3BA;
  color: #FFF;
  text-align: center;
}

.header {
  background-color: #5DA3BA;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #FFF;
}

a:hover {
  opacity: 0.61;
}

footer {
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size: small;
  text-transform: lowercase;
  text-align: center;
  background: #5DA3BA;
}

@media (max-width: 530px) {

}
