@import url('https://fonts.googleapis.com/css?family=Signika:400');

body {
  margin: 0;
  padding: 0;
  font-family: Signika;
  background-color: #5DA3BA;
  color: #000;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 25px;
  line-height: 28px;
  color: #000;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.61;
}

a:visited {
  text-decoration: none;
  color: #000;
}

#console {
  position: relative;
  width: 320px;
  margin: 70px;
  padding: 10px 20px;
  background-color: white;
  opacity: 0.95;
  border-radius: 25px;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
  border-radius: 20px;
}

#slider {
  -webkit-appearance: none;
  height: 13px;
  width: 100%;
  background: #FBDCB1;
  outline: none;
  -webkit-transition: .2s;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FF0000;
  border-radius: 25px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FF0000;
  cursor: pointer;
}

.colors {
  background: linear-gradient(to right, #4892C7, #0568d6, #a1c85c, #FFBD3A, #FF860A, #E00300);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

@media (max-width: 530px) {
  #console {
    margin: 45px;
  }
}

footer {
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width:100%;
  font-size: small;
  text-transform: lowercase;
  text-align: center;
}
